<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="pet.model.dto.ReviewDTO" alias="reviewDTO"/>
		<typeAlias type="pet.model.dto.PriceReviewDTO" alias="priceReviewDTO"/>
		<typeAlias type="pet.model.dto.RatingReviewDTO" alias="ratingReviewDTO"/>
		<typeAlias type="pet.model.dto.CommentReviewDTO" alias="commentReviewDTO"/>
		<typeAlias type="pet.model.dto.UploadReviewDTO" alias="uploadReviewDTO"/>
		<typeAlias type="pet.model.dto.ReportReviewDTO" alias="reportReviewDTO"/>
		<typeAlias type="pet.model.dto.LikeReviewDTO" alias="likeReviewDTO"/>
		<typeAlias type="pet.model.dto.MemberDTO" alias="memberDTO"/>
		<typeAlias type="pet.model.dto.MemberDTO" alias="register"/>
		<typeAlias type="pet.model.dto.DocInfoDTO" alias="docInfoDTO"/>
		<typeAlias type="pet.model.dto.DocPictureDTO" alias="docPictureDTO"/>
		<typeAlias alias="DocMyHospitalDTO" type="pet.model.dto.DocMyHospitalDTO"/>
		<typeAlias alias="HospitalDTO" type="pet.model.dto.HospitalDTO"/>
		<typeAlias type="pet.model.dto.CheckDTO" alias="CheckDTO"/>
		<typeAlias type="pet.model.dto.DictDTO" alias="DictDTO"/>
		<typeAlias type="pet.model.dto.PriceReviewDTO" alias="PriceReviewDTO"/>
		<typeAlias type="pet.model.dto.SearchCriteria" alias="SearchCriteria"/>
		<typeAlias alias="noticeInfoDTO" type="pet.model.service.NoticeInfoDTO"/>
		<typeAlias alias="boardReplyDTO" type="pet.model.service.BoardReplyDTO"/>
		<typeAlias alias="NoticefreedomDTO" type="pet.model.service.NoticefreedomDTO"/>
		<typeAlias alias="FreeReplyDTO" type="pet.model.service.FreeReplyDTO"/>
		<typeAlias alias="searchDTO" type="pet.model.dto.SearchDTO"/>
		<typeAlias alias="TestReviewDTO" type="pet.model.dto.TestReviewDTO"/>
		<typeAlias alias="CityDTO" type="pet.model.dto.CityDTO"/>
		<typeAlias alias="CheckAddDTO" type="pet.model.dto.CheckAddDTO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/pet/model/sql/reviewSQL.xml"/>
		<mapper resource="/pet/model/sql/uploadReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/commentReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/ratingReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/priceReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/likeReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/reportReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/adminSQL.xml"/>
		<mapper resource="/pet/model/sql/DocSql.xml"/>
		<mapper resource="/pet/model/sql/HospitalSql.xml"/>
		<mapper resource="/pet/model/sql/CheckSQL.xml"/>
		<mapper resource="/pet/model/sql/DictSQL.xml"/>
		<mapper resource="/pet/model/sql/InfoSQL.xml"/>
		<mapper resource="/pet/model/sql/sql.xml"/>
		<mapper resource="/pet/model/sql/boardSQL.xml"/>
		<mapper resource="/pet/model/sql/FreeSQL.xml"/>
		<mapper resource="/pet/model/sql/testSQL.xml"/>
		<mapper resource="/pet/model/sql/MapSQL.xml"/>
	</mappers>

</configuration>
